<div class="flex">
    <div class="flex-elem padding">
        <h5>Faza scenariusza:</h5>
        <p-dropdown [options]="phases" [(ngModel)]="selectedPhase" placeholder="Wybierz fazę" [showClear]="true"></p-dropdown>
    </div>
    <div class="flex-elem padding">
        <h5>Czas trwania [min]:</h5>
        <p-spinner [(ngModel)]="selectedDuration" [min]="1"></p-spinner>
    </div>
    <div class="flex-elem padding">
        <!-- todo do zmiany -->
        <h5 class="hidden">smth</h5>
        <p-button label="Usuń" icon="pi pi-times" (click)="deleteElement()"></p-button>
    </div>
    <div class="flex-elem" style="width: 3rem;"></div>
</div>
