@media screen and (min-width: 596px) {
    .flex {
        display: flex;
    }

    .hidden {
        visibility: hidden;
    }
}

@media screen and (max-width: 595px) {
    .hidden {
        display: none;
    }
}

.flex-elem {
    margin-right: 20px;
}

.padding {
    padding-top: 10px;
    padding-bottom: 10px;
}