<div class="p-col sw-fieldset">
  <div class="p-grid">
    <div class="p-col-4">
      <label id="block">Dostęp Wyłączny</label>
    </div>
    <div class="p-col-8">
      <p-inputSwitch [(ngModel)]="blocked" (onChange)="changeAccessStatus()"></p-inputSwitch>
    </div>
  </div>
</div>
<div *ngIf="!blocked">
  <h4>Ustawienia zbiorników</h4>
  <h6>Wartości powinny spełniać ograniczenie: min < rd < rg < max < cap</h6>
  <div class="p-grid nested-grid">
    <div class="p-col-12">
      <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
    </div>
    <div class="p-col-12 p-sm-6" style="text-align: center;">
      <sw-container-settings [disabled]="isLoading" [title]="'Zbiornik C'+ visible" [values]="settings['C' + visible]"></sw-container-settings>
    </div>
    <div class="p-col-align-end p-justify-start p-col-12 p-sm-6" style="text-align: right; margin-bottom: 0.5vw">
      <p-button class="p-col-12" label="Przywróć aktualne ustawienia" icon="pi pi-refresh" (onClick)="loadCurrentConfigs()"></p-button>
      <p-button class="p-col-12" label="Zastosuj zmiany" icon="pi pi-check" (onClick)="confirmScenario()"></p-button>
    </div>
  </div>
</div>
