<div *ngFor="let track of tracks">
    <div class="p-grid sw-dashboard">
        <div *ngFor="let widget of track.widgets" class="p-col-12 p-xl-6">
            <div class="sw-widget">
                <p-card [header]="widget.header" [subheader]="widget.subheader" [style]="widget.style"
                    [styleClass]="widget.styleClass">

                    <ng-container *ngTemplateOutlet="widget.content"></ng-container>

                </p-card>
            </div>
        </div>
    </div>
</div>