<sw-dashboard >
    <sw-track>
        <sw-track-widget header="Kontroler zbiornika wody">
            <sw-water-controller></sw-water-controller>
        </sw-track-widget>

        <sw-track-widget header="Scenariusz">
            <sw-water-scenario></sw-water-scenario>
        </sw-track-widget>

        <sw-track-widget header="Stany zaworów">
            <sw-table dataType="valves" name="Stany zaworów"></sw-table>
        </sw-track-widget>

        <!-- 
        <sw-track-widget>
            <sw-oxygen-chart></sw-oxygen-chart>
        </sw-track-widget>

        <sw-track-widget>
            <sw-ph-chart></sw-ph-chart>
        </sw-track-widget>

        <sw-track-widget>
            <sw-redox-chart></sw-redox-chart>
        </sw-track-widget>

        <sw-track-widget>
            <sw-temperature-chart></sw-temperature-chart>
        </sw-track-widget>

        <sw-track-widget header="Stężenie tlenu">
            <sw-table dataType="oxygen" name="Stężenie tlenu"></sw-table>
        </sw-track-widget>

        <sw-track-widget header="Poziom PH">
            <sw-table dataType="ph" name="Poziom PH"></sw-table>
        </sw-track-widget>

        <sw-track-widget header="Poziom redoks">
            <sw-table dataType="redox" name="Poziom redoks"></sw-table>
        </sw-track-widget>

        <sw-track-widget header="Temperatura">
            <sw-table dataType="temperature" name="Temperatura"></sw-table>
        </sw-track-widget> -->
    </sw-track>
</sw-dashboard>
