<sw-dashboard>
  <sw-track>
    <sw-track-widget header="Kontroler zbiornika wody">
      <sw-water-controller></sw-water-controller>
    </sw-track-widget>

    <sw-track-widget header="Tryb automatyczny">
      <sw-water-scenario></sw-water-scenario>
    </sw-track-widget>

    <sw-track-widget header="Stany zaworów">
      <sw-table dataType="valve" name="Stany zaworów"></sw-table>
    </sw-track-widget>

    <sw-track-widget header="Stany pomp">
      <sw-table dataType="pump" name="Stany pomp"></sw-table>
    </sw-track-widget>

    <sw-track-widget header="Stany zbiorników">
      <sw-table dataType="container" name="Stany zbiorników"></sw-table>
    </sw-track-widget>

    <sw-track-widget>
      <sw-water-level-C1-chart></sw-water-level-C1-chart>
    </sw-track-widget>

    <!--
    <sw-track-widget>
      <sw-water-level-C2-chart></sw-water-level-C2-chart>
    </sw-track-widget>

    <sw-track-widget>
      <sw-water-level-C3-chart></sw-water-level-C3-chart>
    </sw-track-widget>

    <sw-track-widget>
      <sw-water-level-C4-chart></sw-water-level-C4-chart>
    </sw-track-widget>

    <sw-track-widget>
      <sw-water-level-C5-chart></sw-water-level-C5-chart>
    </sw-track-widget>
  </sw-track>
</sw-dashboard>
