<sw-dashboard>
  <sw-track>
    <sw-track-widget header="Kontroler zbiornika wody">
      <sw-water-controller></sw-water-controller>
    </sw-track-widget>

    <sw-track-widget header="Tryb automatyczny">
      <sw-water-scenario></sw-water-scenario>
    </sw-track-widget>

    <sw-track-widget header="Stany zaworów">
      <sw-table dataType="valve" name="Stany zaworów"></sw-table>
    </sw-track-widget>

    <sw-track-widget header="Stany pomp">
      <sw-table dataType="pump" name="Stany pomp"></sw-table>
    </sw-track-widget>

    <sw-track-widget header="Stany zbiorników">
      <sw-table dataType="container" name="Stany zbiorników"></sw-table>
    </sw-track-widget>

    <sw-track-widget>
      <sw-chart-widget dataType="water-level-1" dataURL="/water/1/container/1/states/" title="Poziom wody (C1)" yLabel="cm"></sw-chart-widget>
    </sw-track-widget>

    <sw-track-widget>
      <sw-chart-widget dataType="water-level-2" dataURL="/water/1/container/2/states/" title="Poziom wody (C2)" yLabel="cm"></sw-chart-widget>
    </sw-track-widget>

    <sw-track-widget>
      <sw-chart-widget dataType="water-level-3" dataURL="/water/1/container/3/states/" title="Poziom wody (C3)" yLabel="cm"></sw-chart-widget>
    </sw-track-widget>

    <sw-track-widget>
      <sw-chart-widget dataType="water-level-4" dataURL="/water/1/container/4/states/" title="Poziom wody (C4)" yLabel="cm"></sw-chart-widget>
    </sw-track-widget>

    <sw-track-widget>
      <sw-chart-widget dataType="water-level-5" dataURL="/water/1/container/5/states/" title="Poziom wody (C5)" yLabel="cm"></sw-chart-widget>
    </sw-track-widget>
  </sw-track>
</sw-dashboard>
