.sw-fieldset label {
    font-size: calc(1rem + 1vw);
    padding-right: 1rem;
    vertical-align: baseline;
    text-align: justify;
}

#block{
  font-size: small;
}

.triangle {
  border-color: transparent transparent red transparent;
  border-style: solid;
  border-width: 0px 50px 50px 50px;
  height: 0px;
  width: 0px;
}