<div class="p-grid">
    <div class="p-col-12 p-lg-9">
        <img src="../../../assets/waterController.svg.png" class="img-fluid" usemap="#img-buttons" id="img-water">
        <map name="img-buttons" id="img-buttons">
            <area coords="3892,5670, 4190,5830, 4194,5517" id="P1-Button">
            <area coords="2820,1775, 2641,2029, 2989,2034" id="P2-Button">
            <area coords="3506,1770, 3341,2027, 3677,2029" id="P3-Button">
            <area coords="4201,1764, 4038,2025, 4373,2026" id="P4-Button">

            <!-- <area coords="0,0, 82,126" id="Y1-Button">
            <area coords="0,0, 82,126" id="Y2-Button">
            <area coords="0,0, 82,126" id="Y3-Button"> -->
        </map>
    </div>

    <div class="p-col-5 p-lg-3 sw-fieldset">
        <div class="p-grid">
            <div class="p-col-4 p-col-xl-8">
                <label id="block">Dostep Wylaczny</label>
            </div>

            <div class="p-col-8 p-xl-8">
                <p-inputSwitch [(ngModel)]="blocked" (onChange)="changeAccesStatus($event)"></p-inputSwitch>
            </div>
        </div>

        <div class="p-grid" style="margin-top: 2rem;">
            <div class="p-col-12">
                <label>Zawory</label>
            </div>

            <div class="p-col-6">
                <label>P1</label>
            </div>
            <div class="p-col-6">
                <p-inputSwitch [disabled]="!blocked" [(ngModel)]="checked.P1"></p-inputSwitch>
            </div>

            <div class="p-col-6">
                <label>P2</label>
            </div>
            <div class="p-col-6">
                <p-inputSwitch [disabled]="!blocked" [(ngModel)]="checked.P2"></p-inputSwitch>
            </div>

            <div class="p-col-6">
                <label>P3</label>
            </div>
            <div class="p-col-6">
                <p-inputSwitch [disabled]="!blocked" [(ngModel)]="checked.P3"></p-inputSwitch>
            </div>

            <div class="p-col-6">
                <label>P4</label>
            </div>
            <div class="p-col-6">
                <p-inputSwitch [disabled]="!blocked" [(ngModel)]="checked.P4"></p-inputSwitch>
            </div>
        </div>

        <div class="p-grid" style="margin-top: 2rem;">
            <div class="p-col-12">
                <label>Pompy</label>
            </div>

            <div class="p-col-6">
                <label>Y1</label>
            </div>
            <div class="p-col-6">
                <p-inputSwitch [disabled]="!blocked" [(ngModel)]="checked.Y1"></p-inputSwitch>
            </div>

            <div class="p-col-6">
                <label>Y2</label>
            </div>
            <div class="p-col-6">
                <p-inputSwitch [disabled]="!blocked" [(ngModel)]="checked.Y2"></p-inputSwitch>
            </div>

            <div class="p-col-6">
                <label>Y3</label>
            </div>
            <div class="p-col-6">
                <p-inputSwitch [disabled]="!blocked" [(ngModel)]="checked.Y3"></p-inputSwitch>
            </div>
        </div>
    </div>
</div>
