<h5>{{title}}</h5>
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Minimum" [(ngModel)]="values.minLevel">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Dolny poziom roboczy" [(ngModel)]="values.lowerWorkingLevel">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Górny poziom roboczy" [(ngModel)]="values.upperWorkingLevel">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Maksimum" [(ngModel)]="values.maxLevel">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Pojemność" [(ngModel)]="values.capacity">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Czas utrzymania poziomu" [(ngModel)]="values.waterLevelDuration">
