<h5>{{title}}</h5>
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Minimum" [(ngModel)]="values.min">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Dolny poziom roboczy" [(ngModel)]="values.rd">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Górny poziom roboczy" [(ngModel)]="values.rg">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Maksimum" [(ngModel)]="values.max">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Pojemność" [(ngModel)]="values.cap">
<input [disabled]="disabled" type="text" maxlength="8" pKeyFilter="pint" placeholder="Czas utrzymania poziomu" [(ngModel)]="values.t_ust">
