<div class="p-grid">
    <div class="p-col-10">
        <img src="../../../assets/waterController.svg.png" class="img-fluid">
    </div>

    <div class="p-col-2">
        <div class="p-grid p-dir-col">
            <div class="p-col">
                <label>Zawór P1</label>
                <p-inputSwitch [(ngModel)]="checked.P1"></p-inputSwitch>
            </div>
            
            <div class="p-col">
                <label>Zawór P2</label>
                <p-inputSwitch [(ngModel)]="checked.P2"></p-inputSwitch>
            </div>

            <div class="p-col">
                <label>Zawór P3</label>
                <p-inputSwitch [(ngModel)]="checked.P3"></p-inputSwitch>
            </div>

            <div class="p-col">
                <label>Zawór P4</label>
                <p-inputSwitch [(ngModel)]="checked.P4"></p-inputSwitch>
            </div>

            <div class="p-col">
                <label>Pompa Y1</label>
                <p-inputSwitch [(ngModel)]="checked.P4"></p-inputSwitch>
            </div>

            <div class="p-col">
                <label>Pompa Y2</label>
                <p-inputSwitch [(ngModel)]="checked.P4"></p-inputSwitch>
            </div>

            <div class="p-col">
                <label>Pompa Y3</label>
                <p-inputSwitch [(ngModel)]="checked.P4"></p-inputSwitch>
            </div>
        </div>
    </div>
</div>