<img src="../../../assets/waterController.svg.png" class="img-fluid">

<div class="p-grid p-dir-col">
    <div class="p-col">
        <label>P1</label>
        <p-inputSwitch [(ngModel)]="checked.P1"></p-inputSwitch>
    </div>
    
    <div class="p-col">
        <label>P2</label>
        <p-inputSwitch [(ngModel)]="checked.P2"></p-inputSwitch>
    </div>

    <div class="p-col">
        <label>P3</label>
        <p-inputSwitch [(ngModel)]="checked.P3"></p-inputSwitch>
    </div>

    <div class="p-col">
        <label>P4</label>
        <p-inputSwitch [(ngModel)]="checked.P4"></p-inputSwitch>
    </div>

    <div class="p-col">
        <label>Y1</label>
        <p-inputSwitch [(ngModel)]="checked.P4"></p-inputSwitch>
    </div>

    <div class="p-col">
        <label>Y2</label>
        <p-inputSwitch [(ngModel)]="checked.P4"></p-inputSwitch>
    </div>

    <div class="p-col">
        <label>Y3</label>
        <p-inputSwitch [(ngModel)]="checked.P4"></p-inputSwitch>
    </div>
</div>