<div class="p-grid">
    <div class="p-col-12 p-md-8 p-lg-4" style="float: left;">
        <sw-chart [dataType]="dataType" [title]="title" [xLabel]="xLabel" [yLabel]="yLabel" [interval]="interval" width="40vw" height="40vh"></sw-chart>
    </div>

    <table class="p-col-12 p-md-4 p-lg-2 p-justify-center">
        <tbody>
            <tr>
                <td class="spacing">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">Start</span>
                        <input type="datetime-local" [value]="intervalBegin" [min]="minDate" [max]="intervalEnd" 
                        (change)="intervalBegin=$event.target.value">         
                    </div>
                </td>
            </tr>

            <tr>
                <td class="spacing">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">Stop</span>
                        <input type="datetime-local" [value]="intervalEnd" [min]="intervalBegin" [max]="maxDate" 
                        (change)="intervalEnd=$event.target.value">         
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>