<div class="p-grid p-dir-col">
  <div class="p-col-12">
    <sw-chart [dataType]="dataType" [title]="title" [xLabel]="xLabel" [yLabel]="yLabel" [interval]="interval"
      [makeAnimation]="makeAnimation"></sw-chart>
  </div>x


  <div class="p-col-12 p-grid p-dir-col spacing">
    <label>Wybierz tryb:</label>
    <label>STATIC / LIVE</label>
  </div>
  <div class="p-col-12 p-grid p-dir-col spacing">
    <p-inputSwitch [(ngModel)]="isLive" (onChange)="changeMode()"></p-inputSwitch>
  </div>

  <div *ngIf="!isLive" class="p-col">
    <div class="p-col">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Start</span>
        <p-calendar [(ngModel)]="startTime" [showSeconds]="true" [showTime]="true" [readonlyInput]="true"
          (ngModelChange)="changeStart()">
        </p-calendar>
      </div>
    </div>

    <div class="p-col">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Stop</span>
        <p-calendar [(ngModel)]="endTime" [showSeconds]="true" [showTime]="true" [readonlyInput]="true"
          (ngModelChange)="changeEnd()"></p-calendar>
      </div>
    </div>
  </div>
  <div *ngIf="isLive" class="p-col">
    <div class="p-col">
      <label>Przekrój czasu:</label>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">minuty</span>
        <input type="text" (focusout)="zeroWhenEmpty(minDuration)" pKeyFilter="pint" [(ngModel)]="minDuration">
      </div>
    </div>
    <div class="p-col">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">sekundy</span>
        <input type="text" (focusout)="zeroWhenEmpty(secDuration)" pKeyFilter="pint" [(ngModel)]="secDuration">
      </div>
    </div>

  </div>
  <div class="p-col spacing">
    <div class="ui-inputgroup">
      <p-button label="Zapisz" icon="pi pi-image" iconPos="left" (onClick)="saveChartImg()"></p-button>
    </div>
  </div>
</div>
