<div class="p-grid">
    <div class="p-col-12">
        <sw-chart [dataType]="dataType" [title]="title" [xLabel]="xLabel" [yLabel]="yLabel" [interval]="interval" width="45vw" height="50vh"></sw-chart>
    </div>

    
    <div class="p-col-12 p-grid p-dir-col">
        <div class="p-col spacing">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">Start</span>
                <input type="datetime-local" [value]="intervalBegin" [min]="minDate" [max]="intervalEnd" 
                    (change)="intervalBegin=$event.target.value">         
            </div>
        </div>

        <div class="p-col spacing">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">Stop</span>
                <input type="datetime-local" [value]="intervalEnd" [min]="intervalBegin" [max]="maxDate" 
                    (change)="intervalEnd=$event.target.value">         
            </div>
        </div>

        <div class="p-col spacing">
            <div class="ui-inputgroup">
                <p-button label="Zapisz" icon="pi pi-image" iconPos="left" (onClick)="saveChartImg()"></p-button>
            </div>
        </div>
    </div>
</div>